.nav-tabs {
  display: none;
  justify-content: center;
  gap: var(--spacer-half);
  padding-left: 0;
}

.nav-item {
  list-style: none;
}

.nav-link {
  display: block;
  width: 100%;
  padding: var(--spacer-quarter) var(--spacer);
  border: 1px solid var(--gray-200);
  border-radius: var(--border-radius);
  background-color: var(--white-color);
  cursor: pointer;
  font-weight: var(--font-weight-medium);
  color: var(--gray-600);
  text-align: center;
  outline: none;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  /* Add underline on hover/focus */
}

.nav-link.active {
  color: var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color);
  /* Keep underline active */
}

.nav-dropdown {
  margin: 0 auto var(--spacer);
  max-width: 320px;
}

.nav-dropdown-select {
  background: var(--white-color);
  border: 1px solid var(--gray-200);
  border-radius: var(--border-radius);
  color: var(--black-color);
  font-size: var(--font-size-base);
  height: 100%;
  padding: var(--spacer-half) 0 var(--spacer-half) var(--spacer-half);
  width: 100%;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

@media screen and (min-width: 992px) {
  .nav-tabs {
    display: flex;
  }

  .nav-dropdown {
    display: none;
  }
}