.offseason-page {
    --miamiAqua: rgb(0, 142, 151);
    --miamiOrange: rgb(245, 130, 32);
    --miamiBlue: rgb(0, 87, 120);

    font-family: "Quicksand", sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;

    * {
        box-sizing: border-box;
    }

    // h1,
    // h2,
    // h3,
    // h4,
    // h5,
    // h6 {
    //     font-family: "Roboto Slab", sans-serif;
    //     font-weight: 500;
    //     margin: 0;
    //     padding: 0;
    // }

    figure {
        margin: 0;

        img {
            display: block;
            max-width: 100%;
        }
    }
}