.container {
    margin: 0 auto;
    padding: 0 0.9375rem;
}

@media (min-width: 576px) {
    .container {
        max-width: 33.75rem;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 45rem;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 60rem;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 71.25rem;
    }
}

.offseason-page {
    // background-color: rgb(0, 142, 151);
    display: flex;
    flex-direction: column;
    // min-height: 100vh;
    overflow: hidden;
    position: relative;
}

.offseason-page .page-content {
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
}

@media (min-width: 768px) {
    .offseason-page .page-content {
        flex-flow: row nowrap;
    }
}

@media (min-width: 1440px) {
    .offseason-page .page-content {
        align-items: flex-start;
        max-width: 87.5rem;
        margin: 0 auto 3.125rem;
        overflow: hidden;
    }
}