// Material UI overrides

.player-meta--grade {
    .MuiSvgIcon-root {
        height: 15px;
        width: 15px;
        position: absolute;
        margin-left: 2px;
    }
}

.draft-card {
    .MuiExpansionPanel-root.Mui-expanded {
        margin: 0;
    }
    .MuiExpansionPanelSummary-root {
        min-height: 0;
        padding: 0;
        transition: none;

        @include media-breakpoint-up(xl) {
            display: none;
        }
    }
    .MuiExpansionPanelSummary-root.Mui-expanded {
        min-height: 0;
    }
    .MuiExpansionPanelSummary-content {
        color: miami-color("miamiBlue");
        justify-content: space-between;
        margin: 0;
        transition: none;
    }
    .MuiExpansionPanelSummary-content.Mui-expanded {
        margin: 0;
    }
    .MuiExpansionPanelDetails-root {
        display: block;
        padding: 0;

        @include media-breakpoint-up(xl) {
            padding-right: 45px;
        }
    }
}
