.homePage {
    padding: 0;
}

.videoGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 2rem 0;
}

@media screen and (min-width: 768px) {
    .videoGrid {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        padding: 3rem 0;
    }
}

.videoCard {
    background-color: #fff;
    border-radius: var(--radius-default);
    box-shadow: var(--box-shadow-sm);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
}

.videoTitle {
    color: #333;
    font-optical-sizing: auto;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.1;
    margin: 1.5rem 0 1rem;
    text-decoration: none;
}

.videoDescription {
    font-size: 0.9rem;
    color: #555;
    margin: 0;
}