/* DraftCard.module.css */
.draftCard {
    background-color: var(--white-color);
    border-radius: var(--radius-default);
    box-shadow: var(--box-shadow-sm);
    padding: var(--spacer-half);

    display: grid;
    gap: var(--spacer-half);
    grid-template-columns: 1fr;
    grid-template-areas:
        "details"
        "meta"
        "analysis";

    overflow: hidden;
    position: relative;
}

@media screen and (min-width: 640px) {
    .draftCard {
        grid-template-columns: 300px 1fr;
        grid-template-areas:
            "details meta"
            "analysis analysis";
    }
}

@media screen and (min-width: 768px) {
    .draftCard {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1200px) {
    .draftCard {
        display: grid;
        grid-template-areas:
            "details analysis"
            "meta meta";
        grid-template-columns: 3fr 5fr;
    }
}