.pageHeader {
    background: url('../images/denim.webp');
    color: white;
    padding-top: 32px;
    padding-bottom: 32px;

    h1 {
        font-optical-sizing: auto;
        font-weight: 600;
        padding: 0;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: 576px) {
            font-size: 1.5rem;
        }

        @media (min-width: 992px) {
            font-size: 48px;
            line-height: 57.6px;
            margin-bottom: 8px;
        }
    }

    :global(.promo) {
        font-size: 1.25rem;
        margin: 0 auto !important;
        max-width: 640px;
        padding: 0 1rem;
        text-align: center;
    }
}