.pageHeader {
    background: url('../images/denim.webp');
    color: var(--white-color);
    padding-top: var(--spacer-double);
    padding-bottom: var(--spacer-double);

    h1 {
        font-size: var(--font-size-h2);
        line-height: var(--line-height-xs);
        margin: 0 0 var(--spacer);
        text-align: center;
        text-transform: uppercase;

        @media (min-width: 992px) {
            font-size: var(--font-size-h1);
        }
    }

    :global(.promo) {
        font-size: var(--font-size-base);
        margin: 0 auto !important;
        max-width: 640px;
        opacity: 0.85;
        padding: 0 1rem;
        text-align: center;

        @media (min-width: 992px) {
            font-size: var(--font-size-xl);
        }

        strong {
            font-weight: var(--font-weight-bold);
        }
    }
}