.pageHeader {
    color: white;

    h1 {
        font-size: 1rem;
        padding: 0.625rem 0;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 3px 3px 3px rgb(0, 142, 151);

        @media (min-width: 576px) {
            font-size: 1.5rem;
        }

        @media (min-width: 1440px) {
            font-size: 1.875rem;
            padding: 1.25rem 0;
        }
    }
}