.iconHeader {
    font-size: 1.25rem;
    color: rgb(0, 142, 151);
    display: flex;
    align-items: flex-end;
    font-weight: 700;
    margin-bottom: 0.9375rem;

    @media (min-width: 768px) {
        font-size: 1.5rem;
    }

    svg {
        font-size: 1.875rem;
        color: rgb(245, 130, 32);
        margin-right: 0.3125rem;

        @media (min-width: 768px) {
            font-size: 2.125rem;
        }
    }
}