.mobileNav {
    background-color: white;
    padding: 0.9375rem 0.9375rem 0;

    @media (min-width: 992px) {
        display: none;
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
            flex: 1;
            list-style: none;

            @media (min-width: 576px) {
                flex: 0 0 11.25rem;
            }

            &:not(:last-child) {
                margin-right: 0.625rem;
            }

            a {
                font-size: 0.75rem;
                background-color: #efefef;
                border-radius: 0.3125rem;
                color: rgb(0, 87, 120);
                display: block;
                font-weight: 600;
                padding: 0.625rem 0.9375rem;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}