.playerMeta {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--spacer-half);
    grid-area: meta;

    margin: 0;
    padding: 0;
    width: 100%;

    @media (min-width: 576px) {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr))
    }

    @media (min-width: 1200px) {
        grid-template-columns: repeat(8, 1fr);
    }

    li {
        background-color: var(--card-bg-light);
        border: 1px solid var(--card-border-light);
        box-shadow: inset 0 0 0 1px var(--white-color);
        border-radius: var(--radius-default);
        color: var(--color-dolphins-teal);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-bold);
        list-style: none;
        padding: var(--spacer-three-quarter);
        text-align: center;

        @media (max-width: 575px) {
            grid-column: span 2;
        }

        &:nth-child(1),
        &:nth-child(2) {
            @media (max-width: 575px) {
                grid-column: span 3;
                font-size: clamp(1.5rem, 5vw, 2.5rem);
            }
        }
    }
}

.playerMetaTitle {
    color: var(--gray-900);
    display: block;
    font-size: 0.75rem;
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;

    svg {
        display: none;

        // @media (min-width: 992px) {
        //     display: inline;
        // }
    }
}

.playerTotalScore {
    font-size: var(--font-size-base);
    color: var(--color-gray);
}