.playerDetails {
    grid-area: details;
    position: relative;
    width: 100%;
}

.playerPosition {
    color: var(--gray-700);
    display: block;
    position: relative;
    text-shadow: none;
    text-transform: uppercase;
}

.playerName {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: var(--radius-default);
    position: absolute;
    bottom: var(--spacer-half);
    left: var(--spacer-half);
    padding: var(--spacer-three-quarter) var(--spacer) var(--spacer-half);
    font-size: var(--font-size-xxxl);
    color: var(--color-dolphins-teal);
    line-height: var(--line-height-xs);
    margin: 0;
    display: flex;
    justify-content: center;
    gap: var(--spacer-half);
}

.playerImage {
    height: 300px;

    @media screen and (min-width: 640px) {
        height: 100%;
        min-height: 300px;
    }

    img {
        border-radius: var(--radius-default);
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}