.playerMeta {
    border-top: 0.0625rem solid #e1e1e1;
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-flow: row wrap;
    font-family: "Roboto Slab", sans-serif;
    margin: 0;
    order: 2;
    padding: 0;
    width: 100%;

    @media (min-width: 576px) and (max-width: 767.98px) {
        border-left: 0.0625rem solid #e1e1e1;
        border-top: 0;
        flex: 1;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        border-left: 0.0625rem solid #e1e1e1;
        border-top: 0;
        flex: 1;
    }

    @media (min-width: 1200px) {
        order: 3;
        flex: 1 1 100%;
    }

    li {
        border-bottom: 0.0625rem solid #e1e1e1;
        color: rgb(0, 142, 151);
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 0 0 50%;
        font-size: 1rem;
        font-weight: 600;
        list-style: none;
        padding: 0.3125rem 0.625rem;
        text-align: center;

        @media (min-width: 992px) {
            font-size: 1.5rem;
        }

        @media (min-width: 1200px) {
            border: 0;
            justify-content: center;
            flex: 1;
            flex-direction: column;
            padding: 0.625rem 0;
        }

        &:nth-child(odd) {
            border-right: 0.0625rem solid #e1e1e1;

            @media (min-width: 1200px) {
                border: 0;
            }
        }
    }
}

li.playerMetaSchool {
    @media (min-width: 992px) {
        font-size: 1.25rem;
    }
}

.playerMetaTitle {
    color: #4a4a4a;
    display: block;
    font-family: "Quicksand", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;

    svg {
        display: none;

        @media (min-width: 992px) {
            display: inline;
        }
    }
}

.playerTotalScore {
    font-size: 1rem;
    color: #ababab;
}