.playerAnalysis {
    flex: 0 0 100%;
    order: 3;
    padding: 0.625rem;

    @media (min-width: 1200px) {
        order: 2;
        flex: 1;
    }
}

.player-analysis-active {
    .player-analysis-content {
        display: block;
    }

    .player-analysis-toggle {
        svg {
            transform: rotate(-180deg);
        }
    }
}

.playerAnalysisToggle {
    background-color: transparent;
    border: 0;
    color: rgb(0, 142, 151);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: "Roboto Slab", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.playerAalysisContent {
    display: none;
    margin: 0.625rem 0 0 0;
    overflow: hidden;

    @media (min-width: 1200px) {
        font-size: 0.875rem;
        display: block;
        margin: 0;
        padding-right: 2.8125rem;
    }

    @media (min-width: 1440px) {
        font-size: 1rem;
    }
}

.playerAnalysisCite {
    color: rgb(0, 87, 120);
    display: block;
    font-weight: 600;
    padding-top: 0.9375rem;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}