.playerAnalysis {
    background-color: var(--card-bg-light);
    border: 1px solid var(--card-border-light);
    box-shadow: inset 0 0 0 1px var(--white-color);
    border-radius: var(--radius-default);
    color: var(--gray-800);
    grid-area: analysis;
    flex: 0 0 100%;
    order: 3;

    @media (min-width: 1200px) {
        order: 2;
    }
}

.player-analysis-active {
    .player-analysis-content {
        display: block;
    }

    .player-analysis-toggle {
        svg {
            transform: rotate(-180deg);
        }
    }
}

.playerAnalysisToggle {
    background-color: transparent;
    border: 0;
    color: var(--color-dolphins-teal);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    margin: 0;
    outline: 0;
    padding: 0;
}

.playerAalysisContent {
    display: none;
    margin: 0.625rem 0 0 0;
    overflow: hidden;

    @media (min-width: 1200px) {
        font-size: 0.875rem;
        display: block;
        margin: 0;
        padding-right: 2.8125rem;
    }

    @media (min-width: 1440px) {
        font-size: 1rem;
    }
}

.playerAnalysisCite {
    color: rgb(0, 87, 120);
    display: block;
    font-weight: 600;
    padding-top: 0.9375rem;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}