.playerDetails {
    display: flex;
    flex: 0 0 15.625rem;
    flex-direction: column;
    justify-content: flex-start;
    order: 1;
    padding: 0.625rem 0;
    position: relative;

    @media (min-width: 576px) and (max-width: 767.98px) {
        border-bottom: 1px solid #e1e1e1;
    }

    @media (min-width: 992px) and (max-width: 1199.98px) {
        border-bottom: 1px solid #e1e1e1;
    }
}

.playerPosition {
    background-color: white;
    color: #3a3a3a;
    display: block;
    font-family: "Quicksand", sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    position: relative;
    text-shadow: none;
    text-transform: uppercase;

    @media (min-width: 992px) {
        padding-top: 0.1875rem;
    }

    &::after {
        background-color: rgb(245, 130, 32);
        content: "";
        display: block;
        margin: 0.3125rem auto;
        height: 0.0625rem;
        width: 3.125rem;
    }
}

.playerName {
    color: rgb(0, 142, 151);
    font-size: 1.25rem;
    line-height: 1;
    font-weight: 700;
    text-align: center;
}