.scrollToTop {
    position: fixed;
    bottom: 0.625rem;
    right: 0.625rem;
    z-index: 1000;

    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fff;
        border: 0.125rem solid rgb(0, 87, 120);
        border-radius: 50%;
        color: rgb(0, 87, 120);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 0;
        height: 3.125rem;
        width: 3.125rem;

        &:hover,
        &:focus {
            border-color: rgb(245, 130, 32);
            color: rgb(245, 130, 32);
            outline: 0;
        }

        svg {
            height: 2.1875rem;
            width: 2.1875rem;
        }
    }
}