.scroll-to-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;

    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: #fff;
        border: 2px solid var(--miamiBlue);
        border-radius: 50%;
        color: var(--miamiBlue);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 0;
        height: 50px;
        width: 50px;

        &:hover,
        &:focus {
            border-color: var(--miamiOrange);
            color: var(--miamiOrange);
            outline: 0;
        }

        svg {
            height: 35px;
            width: 35px;
        }
    }
}
