.sidebarCard {
    background-color: var(--color-dolphins-navy);
    border-radius: var(--radius-default);
    color: var(--white-color);
    display: grid;
    align-items: start;
    grid-template-rows: max-content max-content;
    gap: var(--spacer-half);
    padding: var(--spacer-half);
}

.sidebarCardTitle {
    font-size: var(--font-size-h3);
    letter-spacing: var(--letter-spacing-default);
    margin: 0;
    padding: 0 var(--spacer-half);
}

.sidebarCardList {
    display: grid;
    gap: var(--spacer-quarter);
    font-size: var(--font-size-sm);
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebarCardListItem {
    background-color: rgba(255, 255, 255, 0.2);
    color: inherit;
    display: flex;
    align-items: center;
    gap: var(--spacer-quarter);
    border-radius: var(--radius-small);
    padding: var(--spacer-third) var(--spacer);

    &:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.playerPosition {
    flex: 0 0 2.5rem;
}

.playerSchool {
    font-size: 0.75rem;
    margin-left: auto;
}

.tradeIcon {
    height: 1.125rem !important;
    margin: 0 0.3125rem;
    opacity: 0.5;
}

.emptyMessage {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: var(--radius-small);
    font-size: var(--font-size-sm);
    margin: 0;
    padding: var(--spacer);
}