.sidebarCard {
    background-color: rgb(0, 87, 120);
    border-radius: 0.3125rem;
    color: white;
    margin-bottom: 0.9375rem;
    overflow: hidden;

    &:last-child {
        margin-bottom: 0;
    }
}

.sidebarCardTitle {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: normal;
    padding: 0.3125rem 0.9375rem;
}

.sidebarCardList {
    font-size: 0.875rem;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: 576px) {
        display: flex;
        flex-flow: row wrap;
    }
}

.sidebarCardListItem {
    color: inherit;
    display: flex;
    padding: 0.3125rem 0.9375rem;

    &:not(:last-child) {
        border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
    }

    &:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.1);
    }

    @media (min-width: 576px) {
        flex: 0 0 33.3333%;

        &:nth-child(even) {
            background-color: transparent;
        }

        &:nth-child(3n + 2) {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }
}

.sidebarCardListItemUndrafted {
    @media (min-width: 576px) {
        flex: 0 0 50%;
    }
}

.playerPosition {
    flex: 0 0 2.5rem;
}

.playerSchool {
    font-size: 0.75rem;
    margin-left: auto;
}

.tradeIcon {
    height: 1.125rem !important;
    margin: 0 0.3125rem;
    opacity: 0.5;
}