.sidebar {
    background-color: #f1f1f1;
    order: 2;
    padding: 0.9375rem;

    @media (min-width: 768px) {
        border-color: rgba(0, 0, 0, 0.1);
        border-width: 0 0 0 0.0625rem;
        border-style: solid;
        flex: 0 0 18.75rem;
    }

    @media (min-width: 1440px) {
        border-width: 0.0625rem;
        border-radius: 0.625rem;
        box-shadow: 0 0 0.3125rem rgba(0, 142, 151, 0.3);
    }
}