@import "../styles/variables";
@import "../styles/functions";
@import "../styles/mixins";

.trade-alert {
    background-color: miami-color("miamiAqua");
    border-radius: 5px;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 10px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1000;

    max-width: 40px;
    max-height: 40px;
    height: 100%;
    width: 100%;

    transition-timing-function: linear;
    transition-duration: 0.25s;
    transition-property: max-height, max-width;
    transition-delay: 0s, 0.25s;

    @include media-breakpoint-only(sm) {
        max-height: 30px;
        max-width: 30px;
    }

    @include media-breakpoint-only(lg) {
        max-height: 30px;
        max-width: 30px;
    }

    @include media-breakpoint-up(xl) {
        right: 5px;
        left: auto;
    }
}

.trade-alert-open {
    max-height: 200px;
    max-width: 260px;

    transition-delay: 0.25s, 0s;

    @include media-breakpoint-up(sm) {
        max-width: 300px;
    }
}

.trade-alert-toggle {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    cursor: pointer;
    outline: 0;
    background-color: miami-color-mix(black, "miamiAqua", 20);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    width: 40px;

    position: absolute;
    top: 0;
    left: 0;

    @include media-breakpoint-only(sm) {
        height: 30px;
        width: 30px;
    }

    @include media-breakpoint-only(lg) {
        height: 30px;
        width: 30px;
    }

    @include media-breakpoint-up(xl) {
        right: 0;
        left: auto;
    }
}

.trade-alert-title {
    background-color: miami-color-mix(black, "miamiAqua", 20);
    display: flex;
    align-items: center;
    flex: 0 0 40px;
    padding: 0 10px 0 50px;
    white-space: nowrap;

    @include media-breakpoint-only(sm) {
        flex: 0 0 30px;
    }

    @include media-breakpoint-only(lg) {
        flex: 0 0 30px;
    }

    @include media-breakpoint-up(xl) {
        padding: 0 10px;
    }
}

.trade-alert-details {
    @include fontSize(14px);
    margin: 10px 0 0 0;
    padding: 0 15px;

    ul {
        list-style-position: inside;
        margin: 0;
        padding-left: 15px;
    }
}
