.tradeAlert {
    background-color: rgb(0, 142, 151);
    border-radius: 0.3125rem;
    color: white;
    display: flex;
    flex-flow: column nowrap;
    margin-bottom: 0.625rem;
    overflow: hidden;
    position: absolute;
    top: var(--spacer);
    left: var(--spacer);
    z-index: var(--zindex-alert);

    max-width: 2.5rem;
    max-height: 2.5rem;
    height: 100%;
    width: 100%;

    transition-timing-function: linear;
    transition-duration: 0.25s;
    transition-property: max-height, max-width;
    transition-delay: 0s, 0.4s;

    @media (min-width: 576px) {
        max-height: 1.875rem;
        max-width: 1.875rem;
    }

    @media (min-width: 992px) {
        max-height: 1.875rem;
        max-width: 1.875rem;
    }

    // @media (min-width: 1200px) {
    //     right: var(--spacer);
    //     left: auto;
    // }
}

.tradeAlertOpen {
    max-height: 12.5rem;
    max-width: 16.25rem;
    transition-delay: 0.4s, 0s;

    @media (min-width: 576px) {
        max-width: 18.75rem;
    }
}

.tradeAlertToggle {
    border: 0;
    cursor: pointer;
    outline: 0;
    background-color: rgb(0, 90, 96);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 2.5rem;
    width: 2.5rem;

    position: absolute;
    top: 0;
    left: 0;

    @media (min-width: 576px) {
        height: 1.875rem;
        width: 1.875rem;
    }

    @media (min-width: 992px) {
        height: 1.875rem;
        width: 1.875rem;
    }

    // @media (min-width: 1200px) {
    //     right: 0;
    //     left: auto;
    // }
}

.tradeAlertTitle {
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex: 0 0 2.5rem;
    padding: 0.25rem 0.625rem 0 3.125rem;
    white-space: nowrap;

    @media (min-width: 576px) {
        flex: 0 0 1.875rem;
    }

    @media (min-width: 992px) {
        flex: 0 0 1.875rem;
    }
}

.tradeAlertDetails {
    font-size: 0.875rem;
    margin: 0.625rem 0 0 0;
    padding: 0 0.9375rem;

    ul {
        list-style-position: inside;
        margin: 0;
        padding-left: 0.9375rem;
    }
}