.draft-page {
  margin: 0;
  padding: 0;
  color: var(--gray-800);
  /* background-color: var(--white-color);
  background: var(--gray-800) url('../assets/denim.webp'); */
  font-weight: var(--font-weight-light);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-family-base);
  box-sizing: border-box;
}

.draft-page *,
.draft-page *::before,
.draft-page *::after {
  box-sizing: inherit;
}

.draft-page h1,
.draft-page h2,
.draft-page h3,
.draft-page h4,
.draft-page h5,
.draft-page h6 {
  margin-top: 0;
  margin-bottom: var(--spacer-half);
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-semibold);
  line-height: 1.2;
}

.draft-page p {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

.draft-page a {
  color: var(--primary-color);
  text-decoration: none;
}

.draft-page a:hover {
  text-decoration: underline;
}

.draft-page ul,
.draft-page ol {
  margin-top: 0;
  margin-bottom: var(--spacer);
  padding-left: 2rem;
}

.draft-page img {
  max-width: 100%;
  height: auto;
}

.draft-page button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  /* padding: 0; */
}

.draft-page .semibold {
  font-weight: var(--font-weight-semibold);
}