html {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-family: var(--font-family-base);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: var(--gray-800);
  background-color: var(--white-color);
  background: var(--gray-800) url('../assets/denim.webp');
  font-weight: var(--font-weight-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--spacer-half);
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-semibold);
  line-height: 1.2;
}

p {
  margin-top: 0;
  margin-bottom: var(--spacer);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: var(--spacer);
  padding-left: 2rem;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

.semibold {
  font-weight: var(--font-weight-semibold);
}