.header {
    background: var(--gray-800) url('../../assets/denim.webp');
    color: var(--white-color);
    padding-top: var(--spacer-double);
    padding-bottom: var(--spacer-double);
}

.header h1 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-xs);
    margin: 0 0 var(--spacer);
    text-align: center;
    text-transform: uppercase;
}

.promo {
    font-size: var(--font-size-base);
    margin: 0 auto !important;
    max-width: 640px;
    opacity: 0.85;
    padding: 0 1rem;
    text-align: center;

    strong {
        font-weight: var(--font-weight-bold);
    }
}

@media screen and (min-width: 992px) {
    .header h1 {
        font-size: var(--font-size-h1);
    }

    .promo {
        font-size: var(--font-size-xl);
    }
}