.header {
    background: var(--gray-800) url('../../assets/denim.webp');
    color: var(--white-color);
    padding-top: var(--spacer-double);
    padding-bottom: var(--spacer-double);
    margin-bottom: var(--spacer);
}

.header h1 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    line-height: 1;
    margin: 0 0 var(--spacer);
    text-align: center;
    text-transform: uppercase;
}

.promo {
    font-size: 1.25rem;
    margin: 0 auto !important;
    max-width: 640px;
    opacity: 0.85;
    padding: 0 1rem;
    text-align: center;

    strong {
        font-weight: var(--font-weight-bold);
    }
}

@media screen and (min-width: 992px) {
    .header h1 {
        font-size: 3rem;
        margin: 0 0 var(--spacer-double);
    }
}