.header {
    color: var(--white-color);
    padding-top: var(--spacer-double);
}

.header h1 {
    font-size: 2rem;
    font-weight: var(--font-weight-bold);
    line-height: 1;
    margin: 0 0 var(--spacer);
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 992px) {
    .header h1 {
        font-size: 3rem;
        margin: 0 0 var(--spacer-double);
    }
}