.transactionCard {
    background-color: var(--white-color);
    border-radius: var(--radius-default);
    box-shadow: var(--box-shadow-sm);
    padding: var(--spacer-half);

    display: grid;
    gap: var(--spacer-half);
    grid-template-columns: 1fr;
    grid-template-areas:
        "details"
        "analysis";

    overflow: hidden;
    position: relative;
}

.transactionAnalysis {
    background-color: var(--card-bg-light);
    border: 1px solid var(--card-border-light);
    box-shadow: inset 0 0 0 1px var(--white-color);
    border-radius: var(--radius-default);
    color: var(--gray-800);
    grid-area: analysis;
    padding: var(--spacer);
    display: flex;
    gap: var(--spacer-half);
    flex-direction: column;
    align-items: start;
    font-size: var(--font-size-lg);

    >p {
        margin: 0;
    }
}

.transactionHeadline {
    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-normal);
    color: var(--gray-700);
    line-height: var(--line-height-xs);
    margin: 0;
}

.transactionUpdate {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: var(--radius-small);
    font-size: var(--font-size-sm);
    font-style: italic;
    padding: var(--spacer);
}


.transactionDate {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-medium);
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: var(--radius-small);
    color: var(--light-color);
    padding: var(--spacer-quarter) var(--spacer-third);
    position: absolute;
    top: var(--spacer);
    right: var(--spacer);
}

.type {
    border-radius: var(--radius-default);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacer-half);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    height: 40px;
    width: 40px;
    position: absolute;
    top: var(--spacer);
    left: var(--spacer);
}

.release {
    background-color: var(--color-dolphins-orange);
    color: var(--white-color);
}

.addition,
.tendered,
.restructure {
    background-color: var(--color-dolphins-teal);
    color: var(--white-color);
}

.trade_away,
.trade_for {
    background-color: var(--color-dolphins-navy);
    color: var(--white-color);

    >svg {
        height: 1.15em;
        width: 1.15em;
    }
}

.playerName {
    color: var(--color-dolphins-teal);
    text-shadow: none;
    text-transform: uppercase;
}

.playerImage {
    height: 250px;

    img {
        border-radius: var(--radius-default);
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

@media screen and (min-width: 768px) {
    .transactionCard {
        grid-template-columns: 4fr 8fr;
        grid-template-areas: "details analysis";
        gap: 0 var(--spacer);
    }

    .transactionDate {
        background-color: rgba(0, 0, 0, 0.05);
        color: var(--dark-color);
    }

    .transactionHeadline {
        padding-right: 4.5rem;
    }
}

@media screen and (min-width: 992px) {
    .playerImage {
        height: 100%;
    }

    .transactionCard {
        grid-template-columns: 5fr 7fr;
    }
}

@media screen and (min-width: 1200px) {
    .transactionCard {
        display: grid;
        grid-template-areas:
            "details analysis"
            "meta meta";
        grid-template-columns: 4fr 8fr;
    }
}