.ytEmbed {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    cursor: pointer;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.ytThumbnail {
    border: 3px solid var(--color-lighter-gray);
    border-radius: var(--radius-small);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
        display: block;
        border-radius: var(--radius-small);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}