.scrollToTop {
    position: fixed;
    bottom: var(--spacer);
    right: var(--spacer);
    z-index: var(--zindex-scroll-top);

    button {
        background-color: var(--white-color);
        border: 5px solid var(--color-dolphins-navy);
        border-radius: var(--radius-large);
        color: rgb(0, 87, 120);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        outline: 0;
        height: 3.125rem;
        width: 3.125rem;
        opacity: 0.75;
        transition: 0.3s ease;

        &:hover,
        &:focus {
            background-color: var(--color-dolphins-navy);
            color: var(--white-color);
            outline: 0;
            opacity: 1;
        }

        svg {
            height: 2.1875rem;
            width: 2.1875rem;
        }
    }
}