.iconHeader {
    font-size: var(--font-size-h2);
    color: var(--color-dolphins-teal);
    display: flex;
    align-items: flex-end;
    gap: var(--spacer-quarter);
    margin-bottom: var(--spacer);
    line-height: 0.85;

    svg {
        font-size: 1.875rem;
        color: var(--color-dolphins-orange);
    }
}